.hk-footer {
  background-color: #35393b;
  padding: 2rem 1.4rem;
  color: #fff;
  text-align: center;
  @media (min-width: 1024px) {
    padding: 3.3rem 1.6rem 1.4rem;
    align-items: normal;
    display: block;
    justify-content: normal;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .hk-footer-menu {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 1024px) {
      flex-direction: row;
    }

    .hk-menu-item {
      margin: 0.5rem 0;
      font-size: 14px;
      @media (min-width: 1024px) {
        margin: 0 1rem;
      }
      a {
        color: #fff;
      }
    }
  }
  .hk-footer-copyright {
    p {
      font-size: 14px;
      line-height: 1.5;
      margin: 0 0 1em 0;
    }
  }
}
